
<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p> name: <%= @restaurant.name %></p>
  <p>address: <%= @restaurant.address %></p>
  <p>phone number: <%= @restaurant.phone_number %></p>
  <p>category: <%=@restaurant.category %></p>

  <h2>Reviews</h2>
  <% if @restaurant.reviews.any? %>
    <div class="container d-flex gap-3">
      <% @restaurant.reviews.each do |review| %>
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Rating: <%= '⭐️' * review.rating.to_i %></div>
          <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text"><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No reviews</p>
  <% end %>

  <h1>Create a new review for <%= @restaurant.name %></h1>
  <div class="container-md">
    <div class="container">
      <%= simple_form_for([@restaurant, @review]) do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
